.container-fluid.px-0
  nav.navbar.navbar-dark.bg-dark
    .navbar-brand.d-flex
      div Webtool Quill
      button.btn.btn-primary.btn-sm.ml-1(v-if="mode!==QuillMode" @click="showQuill")
        b-icon(icon="pencil-square")
      button.btn.btn-primary.btn-sm.ml-1(v-if="mode!==CodeMode" @click="showCode")
        b-icon(icon="code-slash")
  .container-fluid.px-0(style="min-height: calc(100vh - 60px)")
    b-card(no-body v-show="mode===QuillMode")
      b-card-body
        div(ref="toolbar")
            span.ql-formats
              button.ql-bold
              button.ql-italic
              button.ql-underline
              button.ql-strike
            span.ql-formats
              button.ql-blockquote
              button.ql-code-block
            span.ql-formats
              button.ql-header(value="1")
              button.ql-header(value="2")
            span.ql-formats
              button.ql-list(value="ordered")
              button.ql-list(value="bullet")
            span.ql-formats
              button.ql-script(value="sub")
              button.ql-script(value="super")
            span.ql-formats
              button.ql-indent(value="-1")
              button.ql-indent(value="+1")
            span.ql-formats
              button.ql-direction(value="rtl")
            span.ql-formats
              select.ql-size
                option(value="small")
                option(selected)
                option(value="large")
                option(value="huge")
            span.ql-formats
              select.ql-header
                option(value="1")
                option(value="2")
                option(value="3")
                option(value="4")
                option(value="5")
                option(value="6")
                option(selected)
            span.ql-formats
              select.ql-color
              select.ql-background
            span.ql-formats
              select.ql-align
            span.ql-formats
              select.ql-font
            span.ql-formats
              button.ql-formula
              button.ql-link
              button.ql-image
              button.ql-video
            span.ql-formats
              button.ql-clean
        div(ref="editor")
    b-card(no-body v-if="mode===CodeMode")
      .row
        .col-6
          textarea.w-100(v-model="result" style="min-height: calc(100vh - 60px)")
        .col-6
          div(v-html="result")
